MCP_IMAGE_TAG=latest
MCP_CONTAINER_NAME=oci-cloud-consumption-mcp
MCP_HOST=0.0.0.0
MCP_PORT=8000
MCP_PUBLISHED_PORT=8000
MCP_PATH=/mcp

OCI_REGION=eu-frankfurt-1
OCI_AUTH_TYPE=API_KEY
OCI_CONFIG_PROFILE=DEFAULT
